/* Custom Font */

@font-face {
    font-family: "Monaco";
    src: url('monaco.ttf') format("truetype");
}

/* Global Styling */

body {
    background-color: #1e1e1e;
}

/* Classes */

.footer-text {
    color:#555555;
    font-size: 10pt;
    text-align: center;
}

.info-h1 {
    color:white;
    font-size: 30pt;
}

.info-paragraph {
    color:white;
    font-size: 14pt;
}

.jumbo-section {
    background-color:transparent;
}

.page-header {
    background-image: url('../img/bg/poly-red-gradient.jpg');
    background-repeat: repeat-x;
    padding-top: 75px;
    padding-bottom: 75px;
}

.project-tab {
    padding: 20pt;
}

.skill-tag {
    background-color:#018786;
}

.terminal-bodytext {
    color:#00ff00;
    font-family:Monaco;
}

/* IDs */

#homepage-skills {
    color:white;
    font-size: 14pt;
}

#terminal-body {
    background-color:#1e1e1e;
}

#terminal-buttons {
    float:left;
    display: inline-block;
    padding-top: 6px;
}

#terminal-shadow {
    border: none;
}

#terminal-textcontainer {
    padding: 20pt;
}

#terminal-titlebar {
    background-color:#252525;
    text-align:center;
    vertical-align: middle;
    height: 50px;
}

#terminal-titletext {
    float:center;
    display: inline-block;
}

/* Font Awesome Social Icons */

.fa {
    padding: 15px;
    font-size: 16px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 3px 2px;
    transition: 0.3s ease;
}

.fa:hover {
    opacity: 0.8;
    text-decoration: none;
}

.fa-github {
    background: #343A40;
    color: white;
  }
  
.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #ff0000; 
    color: white;
}

.fa-instagram {
    background: #f09433; 
    color: white;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
