/* Custom Font */

@font-face {
    font-family: "Monaco";
    src: url('monaco.ttf') format("truetype")
}

/* XS 1 card up: aka 100% */

@media(min-width:1px) {    
    .card-columns {
        column-count: 1
    }

    .card-deck .card {
        display: block;
        flex-basis: 100%
    }
}

/* SM and MD: 2 cards up. aka 40% */

@media(min-width: 800px)  {
    .card-columns {
        column-count: 2
    }

    .card-deck .card {
        display: block;
        flex-basis: 40%
    }
}

/* LG and XL: 3 cards up. aka 25% */

@media(min-width: 1000px)  {
    .card-columns {
        column-count: 3
    }

    .card-deck .card {
        display: block;
        flex-basis: 25%
    }
}

/* Global Styling */

body {
    background-color: #1e1e1e
}

/* Classes */

.card-deck {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap; 
    align-items: stretch
}

.card-deck .card-body {
    padding-bottom: 100px
}

.card-deck .card-footer {
    position: absolute;
    bottom: 0;
    width: 100%
}

.footer-text {
    color:#555555;
    font-size: 10pt;
    text-align: center
}

.info-h1 {
    color:white;
    font-size: 30pt
}

.info-paragraph {
    color:white;
    font-size: 14pt
}

.info-paragraph a {
    color:lightblue;
    font-size: 14pt
}

.jumbo-section {
    background-color: transparent
}

.page-header {
    background-image: url('../img/bg/poly-red-gradient.jpg');
    background-repeat: repeat-x;
    padding-top: 75px;
    padding-bottom: 75px
}

.post {
    color: white;
    margin-bottom: 20px
}

.post a {
    color: lightblue
}

.project-tab {
    padding: 20pt
}

.skill-tag {
    background-color: #018786
}

.terminal-bodytext {
    color: #00ff00;
    font-family: Monaco
}

.terminal-bodytext a {
    color: #00ff00;
    font-family: Monaco
}

/* IDs */

#blog-list-container {
    max-width: 800px
}

#homepage-skills {
    color:white;
    font-size: 14pt
}

#terminal-body {
    background-color: #1e1e1e
}

#terminal-buttons {
    float: left;
    display: inline-block;
    padding-top: 6px
}

#terminal-shadow {
    border: none
}

#terminal-textcontainer {
    padding: 20pt
}

#terminal-titlebar {
    background-color: #252525;
    text-align: center;
    vertical-align: middle;
    height: 50px
}

#terminal-titletext {
    float: center;
    display: inline-block
}

/* Font Awesome Social Icons */

.fa {
    padding: 15px;
    font-size: 16px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 3px 2px;
    transition: 0.3s ease
}

.fa:hover {
    opacity: 0.8;
    text-decoration: none
}

.fa-github {
    background: #343A40;
    color: white
  }
  
.fa-linkedin {
    background: #007bb5;
    color: white
}

.fa-youtube {
    background: #ff0000; 
    color: white
}

.fa-instagram {
    background: #f09433; 
    color: white;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 )
}
