body {
    background-color: #1e1e1e;
}

#blog-title {
    color: white
}

#blog-subtitle {
    color: white
}

#blog-content {
    color: white
}

#blog-content a {
    color: lightblue
}

#blog-pre-footer a {
    color: lightblue
}

#featured-image {
    margin-bottom: 40px
}

#dark-toggle-label {
    color: white
}

.footer-text {
    color:#555555;
    font-size: 10pt;
    margin-top: -60px;
    text-align: center
}

.jumbo-section {
    background-color:transparent
}